
<h1 class="strong">My Dashboard</h1>
<hr/>
<br/>
<br/>
<%= render partial: 'companies/companies_list', :locals => {companies: @companies} %>
<br/>
<hr>
<br/>
<%= render partial: 'jobs/jobs_list', :locals => {jobs: @jobs} %>
<br/>
<hr>
<br/>
<%= render partial: 'events/events_list', :locals => {events: @events} %>
<br/>
<hr>
<br/>
<%= render partial: 'blogs/blogs_list', :locals => {blogs: @blogs} %>