
<h1 class="strong">My Dashboard</h1>
<hr/>
<br/>
<br/>
<%= render partial: 'companies/companies_list', :locals => {companies: @companies} %>
<br/>
<hr>
<br/>
<%= render partial: 'jobs/jobs_list', :locals => {jobs: @jobs} %>
