
<div class="w-full min-h-screen lg:static lg:max-h-full lg:overflow-visible lg:w-4/4 xl:w-5/5">
  <div id="content">
    <div id="app" class="flex">
      <div class="w-full pt-24 pb-16 lg:pt-28">
        <div class="max-w-3xl px-6 mx-auto mb-6 lg:ml-0 lg:mr-auto xl:mx-0 xl:px-12 xl:w-3/4">
          <div class="flex items-center">
            <h1>The BIT Community</h1>
          </div>
          <p class="mt-0 mb-4 text-gray-600">Our lovely community of startups, investors and talents</p><hr class="my-8 border-b-2 border-gray-200">
          <div class="flex">
            <div class="p-6 bg-white rounded-lg md:flex">
              <%= image_tag gravatar_for(@user), class: "h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6", alt: @user.email %>
              <div class="text-center md:text-left">
              <h2 class="text-lg"><%= @user.name if @user.name %></h2>
              <div class="text-purple-500">Product Engineer</div>
              <div class="text-gray-600"><%= @user.email if @user.email %></div>
              <div class="text-gray-600">(555) 765-4321</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

