<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="mx-auto">
      <div class="mx-auto mb-10 text-center">
        <span class="text-sm font-bold text-indigo-500">NEW...</span>
        <h2 class="mt-2 text-4xl font-bold">Create new industry</h2>
      </div>

      <hr class="hr"></hrv>
        <%= render 'form', industry: @industry %>
    </div>
  </div>
</section>