<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="mx-auto">
      <div class="mx-auto mb-10 text-center">
        <span class="text-sm font-bold text-indigo-500">UPDATING...</span>
        <h2 class="mt-2 text-4xl font-bold"><%= @company.name %> <span class="font-normal">details</span></h2>
      </div>      
      <hr class="hr"></hr>
      <div class="flex justify-end">
        <span class="mb-2 text-xs font-medium text-gray-500">REQUIRED FIELDS</span> 
        <%= render "required_icon" %>
      </div>      
      <%= render 'form', company: @company %>
    </div>
  </div>
</section>

