@tailwind base;
@tailwind components;

/*! purgecss start ignore */
// @import "trix/dist/trix.css";
@import "components/buttons";
@import "components/forms";
@import "components/actiontext";
@import "components/form";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*! purgecss end ignore */
@tailwind utilities;



$opacity-active: 1;

trix-editor {
  min-height: 10em;
}

trix-toolbar {
  .trix-button-group {
    border: 1px solid #bbb;
    border-top-color: #ccc;
    border-bottom-color: #888;
  }

  .trix-button {
    border-bottom: 1px solid rgb(199, 175, 238);
    background: rgb(239, 232, 255);

    &:not(:first-child) {
      border-left: 1px solid #ccc;
    }

    &.trix-active {
      background: rgb(211, 192, 255);
      color: rgba(0, 0, 0, $opacity-active);
    }
  }
}


.tooltip {
	/* initial state */
	display: none;
}

.explain {
	// border-bottom: 1px dotted red;
	// display: inline;
	color: indigo;
}
.explain:hover {
	/* Why not? */
	cursor: pointer;
}
.explain:hover + .tooltip {
	/* Here's the meat */
  background-color: #efebe9;
  display: block;
  padding: 10px 14px;
  position: absolute;
  border: 1px solid gray;
  max-width: 400px;
  z-index: 1000;
  border-radius: 6px;
  font-size: 0.8em;
  line-height: 1.5em;
}



// .trix-content {
//   // max-height: 20rem !important;
//   max-width: 100%;
//   overflow-y: auto;
//   overflow-x: auto;
//   // background-color: #edf2f7;
//   border-radius: 0.5rem;
//   padding: 1rem;
// }