<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="mx-auto">
      <div class="mx-auto mb-10 text-center">
        <span class="text-sm font-bold text-indigo-500">UPDATING...</span>
        <h2 class="mt-2 text-4xl font-bold"><%= @stage.name %> <span class="font-normal">name</span></h2>
      </div>

      <hr class="hr"></hr>
        <%= render 'form', stage: @stage %>
    </div>
  </div>
</section>

