<% provide(:title, "Home") %>
<!DOCTYPE html>
<html class="antialiased">
  <%= render "shared/head" %>

  <body class="relative antialiased leading-normal text-gray-900">
    <%= render "shared/flash_notice" %>
    <%= render "shared/header" unless current_page?(new_job_url) %>

    <main class="overflow-x-hidden" id="content">
      <div class="sm:pt-20 lg:pt-20">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>
  </body>
</html>

